body {
    height: 100%;
    width: 100%;
}


#startLink {
    background-color: rgb(21, 197, 21);
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
}

#info {
    font-weight: bold;
}

#title, h3 {
    color: red;
    font-weight: bold;
}

#images {
    text-align: center;
}


#flow {
    width: 90%;
    height: 500px;
}
